{% extends "base.html" %}

{% block content %}

<form class="space-y-4" method="post">
    {{ form.hidden_tag() }}

    <div>
        {{ form.email.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.email(class="mt-1 p-2 w-full border rounded-md") }}
    </div>

    <div>
        {{ form.password.label(class="block text-sm font-medium text-gray-700") }}
        {{ form.password(class="mt-1 p-2 w-full border rounded-md") }}
    </div>

    <div class="flex justify-center">
        <input type="submit" value="Login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </div>
</form>

{% endblock %}

